
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Londrina+Shadow&family=Madimi+One&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Rozha+One&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.navbar-brand {
  font-family: 'Madimi One', sans-serif;
  font-size: 45px;
  font-weight: 900;
  color: #425c69;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

header {
  background-color: #f1f2f2;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.tooltip-container {
  position: relative;
  display: inline-block;
  margin-left: 5px;
}

.tooltip-container .question-icon {
  cursor: pointer;
}

.tooltip-container .tooltiptext {
  visibility: hidden;
  max-width: 90vw;
  width: auto;
  background-color: #858585e8;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
